<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>

<h2 th:text="Leaderboard">Welcome</h2>
<table id="scores" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${session.scoresList}">
        <td th:text="${entry.scoreEntry.name}"></td>
        <td th:text="${entry.scoreEntry.score}"></td>
    </tr>
    </tbody>
    <form th:action="@{/findPlayer}" method="post">
        <label for="playerNameInput">Search for player:</label>
        <input id="playerNameInput" type="text" name="playerNameInput" th:value="${playerName}" />
        <button type="submit">Search</button>
    </form>
    <form th:action="@{/refresh}" method="post">
        <button type="submit">Refresh</button>
    </form>

</table>

<br/>

</body>

</html>